<a href="https://colab.research.google.com/github/Charmi-Panchal/HTMLproj1/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello world");

hello world

In [12]:
#variables in python
#STRINGS
name = "Charmi"
print("hello "+ name)
print(type(name))  #checks the datatype of variable
first_name="charmi"
last_name="panchal"
full_name= first_name+" "+last_name
print(full_name)

#INT
age=18
age=age+1
print(age)
#print("My age is "+age)  will give error covert it to int using type
print("My age is: "+str(age))

#FLOAT
height=240.3
print(height)
print("My height is: "+str(height))

#BOOLEAN
human= False
print(human)
print("Are you a human: "+str(human))

hello Charmi
<class 'str'>
charmi panchal
19
My age is: 19
240.3
My height is: 240.3
False
Are you a human: False

In [14]:
#multiple assignments of variable
name,age,height = "charmi",18,456.9
print(name)
print(age)
print(height)

#having same value
charmi=pakshal=1
print(charmi)

charmi
18
456.9
1

In [15]:
#string methods
name="charmii"
print(len(name))
print(name.find("a"))
print(name.capitalize())
print(name.upper())
print(name.lower())
print(name.isdigit()) #checks if string is in digit or not
print(name.isalpha())
print(name.count("i"))
print(name.replace("i","y"))
print(name*3)

7
2
Charmii
CHARMII
charmii
False
True
2
charmyy
charmiicharmiicharmii

In [17]:
#typecasting
x=1
y=2.0
z="3"
x=float(x)
y=int(y)
z=int(z)
print(x)
print(y)
print(z)
print(z*3)
print("X is :"+str(x))
print("Y is :"+str(y))

1.0
2
3
9
X is :1.0
Y is :2

In [19]:
#USER INPUT
name=input("What is your name?: ")
age=int(input("How old are you?: "))
height=float(input("How tall are you?: "))
print("hello "+name)
print("You are "+str(age)+" years old")
print("You are "+str(height)+" cm tall")

What is your name?: charmi
How old are you?: 19
How tall are you?: 20.15
hello charmi
You are 19 years old
You are 20.15cm tall